@media screen and (max-width: 1800px)
  .about
    &-list
      padding-left: 5vw

@media screen and (max-width: 1500px)
  .about
    &-img
      opacity: 0.3
      width: 50%
      bottom: 0
    &-list
      width: 50%

@media screen and (max-width: 1320px)
  .scientific
    &__block
      width: 100%
      border-radius: 0
    &__tabs
      border-radius: 0