@import vars
@import fonts
@import libs
@import general


.first
	position: relative
	width: 100%
	height: 100vh
	padding-top: 40px
	padding-bottom: 90px
	background-image: url('../img/@2x/header_bg.png')
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	// background-attachment: fixed // parallax
	.container
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%
	header
		display: flex
		align-items: flex-start
		justify-content: space-between
	.logo
		display: flex
		justify-content: space-between
		width: 270px
		align-items: flex-end
		&__description
			color: #ffffff
			font-size: 14px
	.personal
		text-align: right
		h3
			color: $accent
			font-size: 24px
			letter-spacing: 0.05em
			margin: 0
			@extend %muller
		&__description
			font-size: 14px
			margin-bottom: 25px
		&__instagram
			font-size: 14px
			font-weight: bold
	.title-wrap
		display: flex
		height: 100%
		display: flex
		align-items: center
		color: #fff
		padding-left: 85px
		h1
			font-size: 42px
			margin-bottom: 30px
			line-height: 1.2
			letter-spacing: 0.05em
		&__description
			margin-bottom: 80px
		&__btn
			display: flex
			justify-content: center
			align-items: center
			width: 240px
			height: 60px
			&:hover
				opacity: 1
				text-decoration: none
				color: #ffffff
	.down-arrow
		font-size: 14px
		color: #fff
		display: flex
		align-items: center
		justify-content: space-between
		width: 160px
		&:hover
			color: #fff
			cursor: pointer
			opacity: 0.8
		&__question
			line-height: 1.2
			width: 130px
			color: #fff

.whatfor
	padding-top: 140px
	.container
		position: relative
	.title-bg
		@extend %muller
		font-size: 441px
		position: absolute
		right: 0
		top: -260px
		opacity: 0.15
		color: $accent
		user-select: none
	&__wrap
		margin-top: 70px
		width: 100%
		position: relative
		z-index: 2
		background-image: url(../img/@2x/whatfor-bg.png)
		background-repeat: no-repeat
		background-size: cover
		height: 650px
		background-position: center
		display: flex
		align-items: center
	&__text-block
		max-width: 762px
		padding: 50px
		background-color: #fff
		border-radius: 15px
	&__text-wrap
		padding: 20px
		padding-right: 0
		padding-left: 50px
		border-left: 1px solid $accent
		p:last-child()
			margin: 0
	&__resolve
		padding-top: 140px
		position: relative
		h3
			@extend %muller
			font-size: 32px
			line-height: 1
			text-align: center
			margin-bottom: 65px
		&-wrap
			display: flex
			flex-direction: row
			justify-content: center
			flex-wrap: wrap
	.resolve__block
		border: 1px solid $accent
		border-radius: 10px
		display: flex
		align-items: center
		width: 500px
		padding: 40px
		margin-bottom: 50px
		&:nth-child(odd)
			margin-right: 50px
		&-img
			min-width: 96px
			height: 96px
			background-repeat: no-repeat
			background-size: cover
			&:first-child
				background-image: url('../img/@2x/resolve-icon1.png')
			&:nth-child(2)
				background-image: url('../img/@2x/resolve-icon2.png')
			&:nth-child(3)
				background-image: url('../img/@2x/resolve-icon3.png')
			&:last-child
				background-image: url('../img/@2x/resolve-icon4.png')
	.resolve__text-wrap
		margin-left: 30px
		line-height: 1.3
	.resolve__title
		font-weight: bold
	.resolve__text
		font-size: 14px
		margin-top: 20px

.scientific
	padding-top: 140px
	.container
		position: relative
	&__title-img
		background-image: url('../img/@2x/biology.png')
		background-size: contain
		background-repeat: no-repeat
		position: absolute
		width: 87px
		height: 83px
		top: 0
		right: 0
	&__title-description
		color: $grey
		margin-top: 60px
		margin-bottom: 60px
		width: 60%
		padding-left: 85px
	&__block
		margin: auto
		width: 1320px
		height: 900px
		border-radius: 15px
		background-color: #faf5f1
		display: flex
	&__menu
		display: none
		outline: 0
		border: 0
		padding: 0
		background-color: transparent
		&:active, &:focus
			outline: 0
			border: 0
	&__tabs
		list-style-type: none
		padding-left: 75px
		padding-top: 120px
		margin: 0	
		background-image: url('../img/@2x/scientific-img.png')
		background-repeat: no-repeat
		background-position: right
		width: 26%
		height: 100%
		border-top-left-radius: 15px
		border-bottom-left-radius: 15px
		&-closeBtn button
			display: none
			outline: 0
      border: 0
      padding: 0
			background-color: transparent
			&:active, &:focus
				outline: 0
				border: 0
		&-item
			color: #cacaca
			font-weight: bold
			font-size: 20px
			margin-bottom: 50px
			cursor: pointer
			position: relative
			line-height: 1.2
		.focus
			color: #fff
			padding-left: 30px
			&:before
				content: ''
				position: absolute
				width: 40px
				height: 2px
				border-radius: 1px
				background-color: $accent
				top: 0
				bottom: 0
				left: -35px
				margin: auto

	.tab-content
		padding-left: 80px
		padding-top: 70px
		padding-right: 75px
		padding-bottom: 70px
		overflow: auto
		width: 76%
		transition: 0.4s
		&__title
			font-size: 24px
			margin-bottom: 40px
		&__description
			margin-bottom: 50px
	.accordion-wrap
		padding-bottom: 70px
	.accordion
		background-color: transparent
		font-weight: bold
		color: #000000
		padding: 20px
		padding-right: 100px
		width: 100%
		text-align: left
		text-transform: unset
		outline: none
		border: 0
		font-weight: bold
		position: relative
		background: url('../img/@2x/open-button.png') no-repeat 96% 50%
		&:active, &:focus
			outline: 0
		&:first-of-type
			border-top: 1px solid #f0e5d8
		&__panel
			padding: 0 20px
			max-height: 0
			overflow: hidden
			transition: max-height 0.2s ease-out
			border-bottom: 1px solid #f0e5d8
			&-addition
				margin-top: 40px
				margin-bottom: 20px
				a
					border-bottom: 1px solid #cfcac7
	.active
		background: url('../img/@2x/close-button.png') no-repeat 95.3% 50%
		transition: 0.2s

.about
	padding-top: 200px
	&-title__description
		color: $grey
		margin-top: 60px
		margin-bottom: 60px
		width: 56%
		padding-left: 85px
	&-img
		position: relative
		bottom: 112px
		width: 40%
		object-fit: cover
		z-index: 1
	&-wrap
		display: flex
		flex-direction: row
		justify-content: flex-end
	&-list
		display: flex
		flex-direction: column
		justify-content: flex-start
		flex-wrap: wrap
		width: 60%
		height: 665px
		padding: 0
		margin: 0
		padding-left: 15vw
		z-index: 2
	&-item
		display: flex
		justify-content: flex-start
		width: 400px
		margin-bottom: 50px
		margin-right: 20px
		&__number
			min-width: 48px
			height: 48px
			border: 2px solid $accent
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			font-weight: bold
			margin-right: 25px
			margin-top: 5px
		&__title
			font-weight: bold
			margin-bottom: 20px
		&__description
			font-size: 14px

.content
	padding-top: 120px
	.container
		position: relative
	&__title-description
		color: $grey
		margin-top: 60px
		margin-bottom: 60px
		width: 60%
		padding-left: 85px
	&__title-img
		background-image: url('../img/@2x/bullets.png')
		background-size: contain
		background-repeat: no-repeat
		position: absolute
		width: 54px
		height: 52px
		top: 18px
		right: 18px
	&-controls
		display: none
	&-wrap
		display: flex
		min-height: 800px
		width: 100%
	.content_item1
		background-image: url('../img/@2x/content_basics1.png')
	.content_item2
		background-image: url('../img/@2x/content_basics2.png')
	.content_item3
		background-image: url('../img/@2x/content_basics3.png')
	.content_item4
		background-image: url('../img/@2x/content_basics4.png')
	&-item
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		width: 25%
		position: relative
		padding: 80px 0
		display: flex
		flex-direction: column
		text-align: center
		color: #fff
		justify-content: flex-end
		&__title
			@extend %muller
			font-size: 32px
			text-align: center
			width: 100%
			color: #fff
			&-step
				font-family: 'GothamPro', sans-serif
				font-size: 18px
				font-weight: bold
		&__list
			display: none
			padding: 0
			margin: 0
			text-align: left
			width: 300px
			margin: auto
			list-style-position: inside
			list-style: none
			counter-reset: content_list
			&-item
				margin-bottom: 30px
				line-height: 1
				counter-increment: content_list
				&:before
					content: counter(content_list)
					font-weight: bold
					margin-right: 5px
					color: $accent
				// &::marker
				// 	font-weight: bold
				// 	color: $accent
		&__btn
			display: none
			color: $accent
			text-decoration: underline
			text-transform: uppercase
			font-size: 14px
			text-align: center
			font-weight: bold
			outline: 0
			border: 0
			padding: 0
			background-color: transparent
			&:hover
				color: $accent
				text-decoration: none
				opacity: 0.8
			&:active, &:focus
				border: 0
				outline: 0
		&:hover
			justify-content: flex-start
			.content-item__list, .content-item__btn
				animation-name: fade
				animation-duration: .5s
				display: block

.author
	padding-top: 140px
	.container
		display: flex
	&-photo
		width: 50%
		margin-right: 70px
	&-wrap
		width: 50%
	h2
		padding: 0
		margin-bottom: 30px
		&:after
			display: none
	&-name
		color: $accent
		font-size: 24px
		letter-spacing: 0.05em
		margin: 0
		margin-bottom: 20px
		@extend %muller
		&__description
			color: $grey
			margin-bottom: 40px
	&-about
		margin-bottom: 50px
		padding-right: 30px
		border-right: 1px solid $accent

	&__mobile-title
		display: none

.price
	padding-top: 140px
	&-title__description
		color: $grey
		margin-top: 60px
		margin-bottom: 60px
		padding-left: 85px
		a
			color: $accent

	.plan-wrap
		display: flex
		justify-content: space-around
		align-items: flex-start
	.plan
		width: 330px
		padding-top: 40px
		padding-right: 60px
		padding-left: 60px
		padding-bottom: 30px
		border-radius: 15px
		&:first-child
			background-color: #fcefe6
		&:nth-child(2)
			background-color: #faf5f1
		&:last-child
			background-color: #f4f2f0
		&-title
			@extend %muller
			margin-bottom: 35px
			text-align: center
		&-price
			display: flex
			justify-content: center
			align-items: center
			font-size: 30px
			color: $accent
			height: 78px
			font-weight: bold
			border-bottom: 1px solid #e7d1ba
			border-top: 1px solid #e7d1ba
			margin-bottom: 25px
			img
				margin-left: 15px

		&-list
			padding: 0
			&__item
				font-size: 14px
				margin-bottom: 10px
				list-style-type: none
				&:before
					content: '+'
					font-size: 18px
					font-weight: bold
					color: $accent
					display: inline
					margin-right: 5px
				&:last-of-type
					margin-bottom: 40px
			
		&-btn
			width: 136px
			height: 36px
			display: block
			margin: auto
			
.reviews
	padding-top: 140px
	&-title__description
		color: $grey
		margin-top: 60px
		margin-bottom: 60px
		padding-left: 85px
	&-wrap
		background-color: #faf5f1
		padding-top: 60px
		padding-bottom: 50px
	&-btn
		margin: auto
		margin-top: 60px
		background-color: transparent
		font-size: 14px
		text-transform: uppercase
		color: $accent
		display: block
		&:hover
			background-color: transparent
			text-decoration: underline
			opacity: 0.8
	.sm-container
		padding: 0 85px
		position: relative

footer
	width: 100%
	height: 200px
	background-color: #fcefe6
	.container
		display: flex
		align-items: center
		height: 100%
	.footer-perfomance
		display: flex
		flex-direction: column
		margin-left: 140px
		&__instagram 
			span
				text-decoration: underline
				font-size: 14px
	.footer-conditions
		font-weight: bold
		font-size: 14px
		text-decoration: underline
		display: block
		margin-left: auto
		


// slider
.slider
	padding: 0 125px
	&-btn__wrap
		position: absolute
		width: 100%
		max-width: 970px
		height: 100%
		display: flex
		align-items: center
		justify-content: space-between
		button
			position: relative
			z-index: 3

.prev-btn, .next-btn
	background-repeat: no-repeat
	width: 36px
	height: 26px
	border: 0
	padding: 0
	outline: 0
	background-color: transparent
	background-position: 0 0
	

.prev-btn
	background-image: url('../img/@2x/left-arrow.png')

.next-btn
	background-image: url('../img/@2x/right-arrow.png')
	opacity: 0.7

.author-review__wrap
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 60px

.author-review
	display: flex
	align-items: center
	&__name
		font-weight: bold
		color: $accent
		margin-left: 25px
	&__instagram
		display: flex
		align-items: center
		p
			font-size: 14px
			text-decoration: underline
			margin: 0
			margin-right: 5px
.review-text
	position: relative
	&:before
		content: ''
		background-image: url('../img/@2x/left-quote.png')
		background-repeat: no-repeat
		width: 60px
		height: 48px
		background-size: contain
		position: absolute
		top: -15px
		left: -60px
	&:after
		content: ''
		background-image: url('../img/@2x/right-quote.png')
		background-repeat: no-repeat
		width: 60px
		height: 48px
		background-size: contain
		position: absolute
		right: -60px

// modal
.overlay
	position: fixed
	top: 0
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.5)
	z-index: 3

.popup-content, .popup-price, .popup-reviews
	display: none

.popup-price, .popup-reviews
	.popup
		width: 400px !important
		padding-bottom: 25px !important

.popup-price__title, .popup-reviews__title
	width: 100%
	text-align: center
	font-weight: bold
	font-size: 24px
	
#price-form, #reviews-form
	display: flex
	flex-direction: column
	padding-top: 30px
	input, textarea
		border-radius: 10px
		border: 1px solid $accent
		color: $accent
		margin-bottom: 20px
		padding-left: 20px
		font-size: 14px
		height: 36px
	textarea
		padding-top: 8px
		height: 100px
		resize: none

.price-form__btn, .reviews-form__btn
	width: 140px
	height: 40px
	margin-top: 10px
	margin-left: auto
	

.popup-wrapper
	align-items: center
	justify-content: center
	position: fixed
	z-index: 4
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	.popup
		width: 900px
		position: relative
		z-index: 5
		padding: 40px
		border-radius: 5px
		background-color: #fff
		overflow-y: auto
		max-height: 90vh
		&-close
			outline: 0
			border: 0
			padding: 0
			background-color: transparent
			position: absolute
			top: 20px
			right: 25px

.module-title
	@extend %muller
	font-size: 32px
	text-align: center
	margin: 40px 0
.module-list
	list-style-position: inside
	padding-left: 0
	&__item
		font-size: 24px
		margin-bottom: 20px
		ul
			margin-top: 10px
			padding-left: 30px
			li
				color: $grey
				font-size: 18px
				font-weight: normal
				list-style-type: disc
				&::marker
					color: $accent

.module-btn__close
	width: 150px
	height: 40px
	margin-bottom: 40px
	margin-top: 10px
	float: right
	&:hover
		opacity: 0.8


@import media